@import url(reset.html);

body {
  font-family: 'Poppins';
  font-size: 14px;
}

.navbar {
  margin-top: 30px;
  width: 1376px;
  height: 109px;
}

.navList {
  position: absolute;
  margin-left: 60px;
  font-family: 'poppins';
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.navList > .logo {
  font-size: 20px;
  font-weight: 900;
}

ul {
  list-style-type: none;
}

a {
  margin-left: 40px;
}

.navList > .navRight {
  float: right;
  color: black;
  margin-top: 12px;
  margin-left: 300px;
}

.navdot {
  width: 1px;
  height: 1px;
  margin-bottom: 1px;
  position: absolute;
  left: 170px;
  top: 59px;
}

.container {
  position: absolute;
  text-align: center;
  color: black;
  width: 100%;
}

.image-container {
  position: relative;
  display: flex;
  width: 1300px;
  height: 587px;
  margin-top: -70px;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-equal {
  width: 29.76px;
  height: 23px;
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 303px;
  left: 159px;
  font-size: 30px;
}

.overlay-text1 {
  position: absolute;
  width: 526px;
  height: 229px;
  top: 406px;
  left: 723px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 10px 5px #e6e3e3;
}

.overlay-text1 > p {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-align: left;
  margin-top: 19px;
  margin-left: 20px;
}

p {
  line-height: 0.5;
}

.lorem {
  font-size: 12px;
  margin-left: 10px;
  text-align: left;
}

hr {
  background-color: white;
  display: flex;
  height: 204px;
  border: 0;
  margin: 1em 0;
  padding: 0;
  position: absolute;
  left: 537px;
  width: 2px;
  top: -39px;
}

div > .vl {
  background-color: white;
  display: flex;
  height: 162px;
  width: 2.48px;
  border: 0;
  margin: 1em 0;
  padding: 0;
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(90deg);
  top: -119px;
  left: 455px;
}

.fab {
  position: absolute;
  left: 538px;
  top: 88px;
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}

.fa {
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  left: 500px;
  top: 130px;
  width: 80px;
  height: 80px;
}

.overlay-text1 > button {
  font-size: 10px;
  border-radius: 50px;
  position: relative;
  padding: 10px 35px;
  top: 18%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: #e4e2e2;
  color: #282828;
  height: 40px;
}

.button1 {
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button2 {
  border: none;
}

.overlay-magImg {
  position: relative;
  color: white;
  background-color: #cfcfcf;
  width: 35px;
  height: 35px;
  float: right;
  margin-top: -10px;
  margin-right: 50px;
  margin-left: 120px;
  border-radius: 50px;
}

.overlay-text2 {
  position: absolute;
  display: flex;
  width: 575px;
  height: 70;
  top: 38%;
  bottom: 0px;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(168, 31, 31, 0);
  color: black;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: 900;
}

.overlay-text3 > ul {
  position: absolute;
  text-align: left;
  font-size: 17px;
  bottom: 60%;
  top: 44.5%;
  left: 34.5%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  color: black;
  padding: 10px 20px;
}

.overlay-text4 {
  font-family: 'poppins';
  align-items: center;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  position: absolute;
  top: 23%;
  left: 8%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.05px;
}

.horizontal-line {
  background-color: black;
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(270deg);
  left: 1404px;
  top: 546px;
  width: 1px;
  height: 157px;
}

.wearehere {
  position: relative;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  left: 300%;
  top: 375px;
}

.overlay-button {
  display: flex;
  position: absolute;
  padding: 12px 45px;
  font-size: 14px;
  font-weight: 600;
  top: 62%;
  left: 27.5%;
  transform: translate(-50%, -50%);
  background-color: #35388e;
  border-radius: 12px;
  color: white;
  border-style: none;
}

.container2 {
  position: absolute;
  text-align: center;
  color: black;
  width: 100%;
  top: 709px;
  left: 34px;
}

.paragraph {
  text-align: center;
  top: 0%;
  bottom: 0%;
  left: 34px;
  font-size: 24px;
  font-weight: 900;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 622px;
}

.lorem2 {
  font-size: 24px;
  font-family: 'roboto slab';
  font-size: 24;
  font-weight: light;
  position: absolute;
  top: 122px;
  left: 277px;
}

.button3 {
  position: absolute;
  top: 299px;
  left: 640px;
  transform: translate(-50%, -50%);
  background-color: #35388e;
  padding: 14px 55px;
  font-size: 14px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  color: white;
  font-weight: 600;
}

.container3 {
  position: absolute;
  text-align: center;
  color: black;
  width: 1376px;
  top: 1106px;
  left: 150px;
  height: 804px;
}

.programs {
  font-family: 'poppins';
  font-weight: 600;
  font-size: 44px;
  margin-top: 60px;
  margin-right: -83px;
  left: -350px;
  text-decoration: none;
  text-align: left;
  background-color: white;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #999797;
  width: 190px;
  height: 54px;
}

.svg {
  position: relative;
  margin-top: 76px;
  margin-left: 40px;
  float: left;
}

ellipse {
  width: 89px;
  height: 84px;
  border-radius: 1px #7175fd;
}

.dot {
  width: 2px;
  height: 2px;
  margin-bottom: 1px;
  position: absolute;
  top: 304px;
  left: 137px;
}

.equal {
  width: 29.76px;
  height: 23px;
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 509px;
  left: -105px;
  font-size: 30px;
}

.overlay-text5_1 {
  display: inline-block;
  width: 44px;
  height: 18px;
  position: absolute;
  left: 60px;
  top: 288px;
  color: #000aff;
}

.mentorCenter {
  float: left;
  margin-top: 0;
  position: absolute;
  top: 91px;
  left: -86px;
  width: 449px;
}

.sectionLeft {
  right: -270%;
}

.overlay-text6 {
  position: absolute;
  float: left;
  font-weight: 600;
  font-size: 40px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.contact {
  font-family: 'poppins';
  float: left;
  position: absolute;
  font-weight: 600;
  font-size: 44px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #999797;
  font-style: none;
  align-items: center;
  width: 280px;
  height: 41px;
  top: 209px;
  left: -44px;
}

.directory {
  font-family: 'poppins';
  float: left;
  position: absolute;
  font-weight: 600;
  font-size: 44px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #999797;
  font-style: none;
  align-items: center;
  width: 254px;
  height: 54px;
  top: 451px;
  left: -47px;
}

.sectionRight {
  position: absolute;
  font-family: 'poppins';
  font-weight: 300;
  font-size: 24px;
  float: left;
  width: 675px;
  height: 402px;
  left: 372px;
  top: 245px;
}

.long {
  display: flex;
  height: 608px;
  border: 0;
  margin: 1em 0;
  padding: 0;
  position: absolute;
  left: 537px;
  width: 2px;
  top: -330px;
  writing-mode: vertical-rl;
  transform: rotate(90deg);
  background-color: #c4c4c4;
}

.short {
  display: flex;
  height: 144px;
  border: 0;
  margin: 1em 0;
  padding: 0;
  position: absolute;
  left: 663px;
  width: 2px;
  top: -97px;
  writing-mode: vertical-rl;
  transform: rotate(90deg);
  background-color: #000000;
}

.Education {
  position: absolute;
  left: 226px;
  top: 10px;
  width: 283px;
  font-size: 24px;
  height: 47px;
  font-weight: 400;
}

.paragraph2 {
  position: absolute;
  text-align: left;
  float: left;
  width: 611px;
  height: 84px;
  font-size: 18px;
  line-height: 1.5;
  left: 233px;
  top: 49px;
}

.images1 {
  position: relative;
  display: flex;
  float: left;
  left: 224px;
  top: 350px;
  width: 374px;
  height: 211px;
}

.images2 {
  position: relative;
  display: flex;
  left: 250px;
  top: 300px;
  width: 215px;
  height: 262px;
}

.overlayFont {
  position: absolute;
  color: grey;
  top: 556px;
  left: 669px;
  width: 53px;
  height: 58px;
}

.overlayFont2 {
  position: absolute;
  color: grey;
  top: 556px;
  left: 608px;
  width: 53px;
  height: 58px;
}

.container4 {
  position: absolute;
  text-align: center;
  background-color: none;
  width: 1376px;
  height: 804px;
  color: black;
  width: 100%;
  top: 1800px;
  left: -416px;
}

.sixtyfour {
  position: relative;
  width: 133px;
  height: 85px;
  font-family: 'poppins';
  font-size: 40px;
  color: #585fa6;
  font-weight: 900;
  top: 442px;
  margin-top: 0px;
  left: 588px;
}

.divi {
  position: absolute;
  width: 133px;
  height: 85px;
  font-family: 'poppins';
  font-size: 12;
  font-weight: 600;
  top: 771px;
  margin-top: 0px;
  left: 594px;
}

.GroupImg {
  position: relative;
  left: 1027px;
  top: 564px;
  width: 262.89px;
  height: 218px;
}

.overlayImage {
  height: 318px;
  width: 272px;
  position: absolute;
  left: 947px;
  top: 497px;
}

.twentyTwo {
  position: relative;
  width: 77px;
  height: 24px;
  font-family: 'poppins';
  font-size: 40px;
  color: #585fa6;
  font-weight: 900;
  left: 1456px;
  bottom: -331px;
}

.sponsors {
  position: relative;
  width: 77px;
  height: 24px;
  font-family: 'poppins';
  font-size: 12;
  font-weight: 600;
  bottom: -348px;
  left: 1457px;
  top: 358;
}

.wearehere2 {
  position: relative;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  left: -1221px;
  top: 2928px;
}

.GroupImg2 {
  height: 318px;
  width: 272px;
  position: absolute;
  top: 2801px;
  left: 191px;
}

.GroupImg3 {
  height: 318px;
  width: 272px;
  position: absolute;
  top: 2801px;
  left: 991px;
}

.fists {
  bottom: 78px;
  position: absolute;
  left: -20px;
}

.boy {
  position: absolute;
  bottom: 77px;
  left: -23px;
}

.four {
  position: relative;
  width: 82px;
  height: 85px;
  font-family: 'poppins';
  font-size: 40px;
  color: #585fa6;
  font-weight: 900;
  bottom: -348px;
  left: -638px;
  top: 2791px;
}

.attend {
  position: relative;
  width: 82px;
  height: 85px;
  font-family: 'poppins';
  font-size: 12;
  font-weight: 600;
  bottom: -348px;
  left: -709px;
  top: 2868px;
}

.last {
  position: absolute;
  width: 1376px;
  height: 574px;
  top: 3300px;
}

.overlay-text5 {
  position: absolute;
  width: 640px;
  height: 239px;
  top: 3645px;
  left: 173px;
}

.wehere {
  width: 85px;
  height: 21px;
  color: black;
  float: right;
  margin-top: -35px;
  margin-right: 51px;
}

.company {
  width: 282px;
  height: 21px;
  color: black;
  font-weight: bold;
  text-align: left;
}

.state {
  width: 282px;
  height: 21px;
  color: black;
  text-align: left;
}

.phone {
  width: 282px;
  height: 21px;
  color: black;
  text-align: left;
}

.email {
  width: 282px;
  height: 21px;
  color: black;
  text-align: left;
}

.ipsum {
  width: 282px;
  height: 21px;
  color: black;
  text-align: left;
}
